.toolbar {
  /* display: block; */
  position: sticky;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  height: 56px;
}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  padding-bottom: 5%;
}

.toolbar_logo{
  size: 1rem;
}

.toolbar_logo a,
.toolbar_logo a:hover {
  color: #bf5700;
  text-decoration: none;
}

.toolbar_navigation_items a {
  color: #000;
  text-decoration: none;
  list-style: none;
}

.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
  color: #bf5700;
}

img{
  margin-top: 1%;
  width: 55%;
}