.list-group-item {
    color: #000000 ;
    text-decoration: none;
}

.list-group-item a {
    color: #000000 !important;
    text-decoration: none;
}

.list-group-item a {
    color: #9E7E38;
}

.list-group-item:hover {
    color: #9E7E38 !important;
}



a:hover {
    color: #9E7E38;
    text-decoration: none;
}



