.list-group-item {
    color: #000000 ;
    text-decoration: none;
}

.list-group-item a {
    color: #000000 !important;
    text-decoration: none;
}

.list-group-item a {
    color: #b5700b;
}

.list-group-item:hover {
    color: #b57000 !important;
}



a:hover {
    color: #b57000;
    text-decoration: none;
}