.day_streak{
    font-size: small;
    
}

.new_feed{
    font-size: small;
}

.btn-secondary{
    color: #000 !important;
    background-color: transparent !important;
    border-radius: 10% !important;
    
}

