@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.btn {
  border-color: transparent !important;
}

.login-logo{
  position: absolute;
  left: 27%;
  top: 88%;
}