
.login-logo {
  position: absolute;
  z-index: 2;
  left: 24%;
  top: 88%;
}

.log-header{
  font-size: 30px !important;
  font-weight: bold;
  font-family: Graduate;
  color: #9E7E38;
  padding-bottom: 9%;
  position: absolute;
  top: -23%;
}

.log-container{
  position: absolute;
  top: 35%;
  right: 10%;
  margin: 0 -15px;
}

.register-btn{
  background-color: #9E7E38 !important;
  border-color: transparent !important;
}

.form-control{
  display: flex !important;
  width: 100%;
  height: calc(1em + .75rem + 1px);
  padding: .355rem .75rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff !important;
  background-clip: padding-box;
  border-bottom: 1px solid #9E7E38 !important;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.copyright {
bottom: 5%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
}

@media (max-width: 991px) {
  .log-container{
    height: 310px;
    width: 175px;
  }
}

@media (min-width: 992px) {
  .log-container{
    top: 25%;
    background-color: white;
    border-radius: 5px;
    padding: 1.5rem;
    -webkit-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.46);
  }

  .log-container Form {
    width: 20vw;
    padding: 0;
  }
}