h1 {
    font-size: 20px;
}
.rounded-circle{
    border-color: #fff;
    border-style: solid;
}

@media only screen and (min-width: 992px) {
    h1{
         font-size: 25px;
         padding-top: 30px;
    }
    .rounded-circle{
        border-color: #fff;
        border-style: solid;
    }
    
    }