
.navbar {
  border-bottom: solid 1px #EBEBEB;
  background-color: #fff;
  
}
.bottom-tab-nav {
  border-top: solid 1px #EBEBEB;
}
.nav-link,
.bottom-nav-link {
  color: #000;
}
.bottom-nav-link.active {
  color:  #9E7E38;
  border-bottom-style: solid;
  border-bottom-color:  #9E7E38;
}
.bottom-tab-label {
  font-size: 12px;
}

.navbar-brand{
  color: #9E7E38 !important;
}


.dropdown{
  color: #9E7E38 !important;
}

.bg-light.scrolled {
  background-color: white!important;
  transition:500ms ease;
}

@media all and (min-width: 480px) {
  .login {
    padding: 60px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

