@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100vh;
}

body {
  /* background: rgb(97,41,6); */
  background: linear-gradient(180deg, rgba(97,41,6,1) 0%, rgba(177,130,102,1) 22%, rgba(232,232,232,1) 33%);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

Link {
  color: #b5700b;
}